<div class="news">
  {% assign news = site.news %}
  {% if include.category %}
    {% assign news = news | where_exp: "item", "item.category == include.category" %}
  {% endif %}
  {% assign news = news | reverse %}
  {% assign news_size = news | size %}

  {% if news_size > 0 %}
    <div
      class="table-responsive"
      {% if include.limit and page.announcements.scrollable and news_size > 3 %}
        style="max-height: 18rem; overflow-y: auto;"
      {% endif %}
    >
      <table class="table table-sm table-borderless">
        {% if include.limit and page.announcements.limit %}
          {% assign news_limit = page.announcements.limit %}
        {% else %}
          {% assign news_limit = news_size %}
        {% endif %}
        {% for item in news limit: news_limit %}
          <tr>
            <th scope="row" style="width: 20%">{{ item.date | date: '%b %d, %Y' }}</th>
            <td>
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No items to show yet.</p>
  {% endif %}
</div>
